html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #FFF;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #88fff7;
    margin: 0;
    padding: 0;
}


.header-link {
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;
    vertical-align: middle;
    transition: 0.5s;
    color: dodgerblue;
}

.header-link:hover {
    color: black;
}

.logo {
    font-family: "Istok Web", sans-serif;
    display: inline;
    vertical-align: middle;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.logo:hover {
    color: #6B72EC;
}

.about {
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    border-radius: 15px;
    background-color: #7DEDFF;

}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.account-link-input {
    flex: 1;
    -webkit-appearance: none;
    border: none;
    font-family: "Alegreya Sans", sans-serif;
    background-color: #96BAFF;
    border-radius: 15px 0 0 15px;
}

.account-link-input:focus {
    outline: none;
}

.account-link-send-button {
    flex: 1;
    -webkit-appearance: none;
    border: none;
    outline: none;
    vertical-align: center;
    border-radius: 0 15px 15px 0;
    background: #7C83FD url("/static/images/icons/SVG/magnifier.svg") no-repeat center;
}

.account-link-send-button:focus {
    background-color: #6B72EC;
}

.account-link-send-button:disabled {
    background-color: #88FFF7;
}

.label-for-link-input {
    font-family: "Alegreya Sans", sans-serif;

}

.loading {
    display: none;
    font-family: "Alegreya Sans", sans-serif;
    margin-left: 1rem;
    margin-top: 2rem;
}

.loading:before {
    content: 'загружаю.';
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    animation: spin infinite 2s;
}

#table-likes {
    border-collapse: collapse;
    width: 100%;
    font-family: "Alegreya Sans", sans-serif;

}

.user-th {
    text-align: left;
}

.user-th a {
    margin-left: 1rem;
}

tr a {
    text-decoration: none;
    color: #000;

}

tr {
    border-collapse: collapse;
    border-bottom: 1px solid #7DEDFF;
}

.heart {
    color: red;
}

.error {
    width: auto;
    background-color: #FF8888;
    font-family: "Noto Sans", sans-serif;
    border-radius: 15px;
    display: none;
}

@media screen and (min-width: 1000px) {
    header {
        height: 5rem;
    }

    .logo {
        margin-left: 15%;
        font-size: 2em;
        line-height: 5rem;
    }

    .header-link {
        margin-right: 15%;
        font-size: 1em;
        line-height: 5rem;
    }

    .content {
        width: 80%;
        margin-left: 10%;
    }

    .about {
        font-size: 1.2em;
        margin-top: 5%;
        padding: 1rem;
    }

    .form {
        margin-top: 1rem;
    }

    .account-link-input {
        min-width: 40rem;
        font-size: 2em;
        padding: 0.5rem 1rem;
    }

    .account-link-send-button {
        max-width: 70px;
        padding: 0.5rem;
        background-size: 35px;
    }

    .label-for-link-input {
        font-size: 2em;
        margin-left: 1rem;
    }

    .search-content {
        margin-top: 5%;
    }

    .loading {
        font-size: 2em;
    }

    #table-likes {
        font-size: 1.4em;
        line-height: 1.8em;
        margin-top: 2rem;
    }

    .error {
        font-size: 1.4em;
        padding: 0.5rem 1rem;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 999px) {
    header {
        height: 7rem;
    }

    .logo {
        margin-left: 5%;
        font-size: 3em;
        line-height: 7rem;
    }

    .header-link {
        margin-right: 5%;
        font-size: 2em;
        line-height: 7rem;
    }

    .content {
        width: 90%;
        margin-left: 5%;
    }

    .about {
        font-size: 1.8em;
        margin-top: 5%;
        padding: 1rem;
    }

    .form {
        margin-top: 1.4rem;
    }

    .account-link-input {
        min-width: 25rem;
        font-size: 3em;
        padding: 0.5rem 1rem;
    }

    .account-link-send-button {
        max-width: 90px;
        padding: 1rem;
        background-size: 45px;
    }

    .label-for-link-input {
        font-size: 2em;
        margin-left: 1rem;
    }

    .search-content {
        margin-top: 5%;
    }

    .loading {
        font-size: 2.2em;
    }

    #table-likes {
        font-size: 2em;
        line-height: 2.05em;
        margin-top: 4rem;
    }

    .user-th {
        max-width: 12rem;
        word-wrap: break-word;
    }

    .error {
        font-size: 2em;
        padding: 1rem;
        margin-top: 2rem;
    }
}

@keyframes spin {
    0% {
        content: 'загружаю.';
    }
    25% {
        content: 'загружаю..';
    }
    50% {
        content: 'загружаю...';
    }
    75% {
        content: 'загружаю..';
    }
}