<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лайк тайм</title>

    <link type="image/png" sizes="16x16" rel="icon" href="../static/images/icons/favicon/favicon-16x16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="../static/images/icons/favicon/favicon-32x32.png">
    <link type="image/png" sizes="96x96" rel="icon" href="../static/images/icons/favicon/favicon-96x96.png">
    <link type="image/png" sizes="120x120" rel="icon" href="../static/images/icons/favicon/favicon-120x120.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Noto+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/index.css">

</head>
<body>
<header>
    <a class="logo" href="/">Лайк тайм</a>
    <a class="header-link" href="https://github.com/Tikovka72/like-time">github проекта</a>
</header>
<main class="content" id="content">
    <div class="about">
        <p>
            Лайки на последних 10 постах.<br>только для открытых аккаунтов
        </p>
    </div>
    <div class="search-content">
        <label class="label-for-link-input" for="account-link-input">имя пользователя, ссылка на пользователя или на любой пост пользователя</label><br>

        <form class="form" onsubmit="return showResult()">
            <input class="account-link-input" id="account-link-input" type="text">
            <input class="account-link-send-button" id="send-button" type="submit" value="">
        </form>
    </div>
    <div class="error" id="error">error</div>

    <div class="loading" id="loading"></div>
</main>

</body>
<script src="../static/js/submit_form.js"></script>

</html>